:root{
	--color-link-normal:#24adff;
	--color-link-visited:#0078bd;

	--color-selection-front:var(--color-bg);
	--color-selection-bg:var(--color-front);
	
	--layout-header-link-padding:8px;

	--layout-full-width:900px;
	--layout-full-header-height:80px;
	--layout-full-header-theme-btn-size:24px;
	--layout-full-main-nav-height:60px;
	--layout-full-border-radius:7px;
	--layout-full-content-horizontal-padding:25px;
	--layout-full-content-vertical-padding:15px;

	--layout-mobile-header-height:60px;
	--layout-mobile-header-hamburger-padding:8px;
	--layout-mobile-header-icon-size:calc(var(--layout-mobile-header-height) / 2);
	--layout-mobile-content-horizontal-padding:20px;
	--layout-mobile-content-vertical-padding:10px;
	--layout-mobile-left-panel-time:0.5s;
}

*::selection{
	background:var(--color-selection-bg);
	color:var(--color-selection-front);
}

.hidden{display:none !important;}
.unvisible{visibility:hidden !important;}
.hidden-unvisible{position:absolute !important;visibility:hidden !important;}
.hidden-transparent{position:absolute !important;opacity:0 !important;}

.align-left{text-align:left;}
.align-center{text-align:center;}
.align-right{text-align:right;}
.valign-top{vertical-align:top;}
.valign-middle{vertical-align:middle;}
.valign-bottom{vertical-align:bottom;}