.document > *:first-child{
	margin-top:0;
}

.document pre{
	overflow-x:auto;
}
.document dl dd{
	font-style:normal;
	font-style:normal;
}
.document address{
	font-style:normal;
}

.document ul,
.document dl{
	margin:0.5em 0 0.5em 0;
}
.document ul li{
	line-height:1.5em;
	list-style-type:disc;
	margin-left:1em;
}
.document ul li ul{
	margin:0;
}
.document small{
	font-size:75%;
}

.document code{
	padding:0 2px;
}
.document pre > code{
	display:block;
	margin:0.5em 0;
}