html,body{
	margin:0;
	color:var(--color-front);
}

/* glass efect definition */
.container{
	width:var(--layout-full-width);
	margin:20px auto;
	border-radius:var(--layout-full-border-radius);
}
.glass{
	position:relative;
	border:1px solid var(--glass-border-color);
	overflow:hidden;
}
.glass::before{
	content: '';
	margin:-35px;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:-1;
}

/* header */
header div.glass:first-of-type{
	border-top-left-radius:var(--layout-full-border-radius);
	border-top-right-radius:var(--layout-full-border-radius);
}
header .roof{
	height:var(--layout-full-header-height);
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-evenly;
}
.roof a.name{
	color:var(--color-front);
	text-decoration:none;
	font-size:32px;
	line-height:1.3em;
	display:inline-block;
	padding:0 var(--layout-header-link-padding);
	border-radius:3px;
}
.roof a.name strong{
	font-family:'ssp_black';
}
.roof a.name:hover,
.roof a.name:focus,
.roof a.name:focus{
	color:var(--color-front);
	text-decoration:none;
	background-color:var(--color-link-normal);
}
.roof .position{
	font-family:'ssp_regular';
	font-size:14px;
}
.roof form.themes{
	border:0;
	background:0;
	padding:0;
	margin:0;
	display:block;
}
.roof form.themes button{
	border:0;
	background:transparent;
	padding:0;
	margin:0;
	display:flex;
	width:var(--layout-full-header-theme-btn-size);
	height:var(--layout-full-header-theme-btn-size);
	cursor:pointer;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	font-size:18px;
	border-radius:3px;
	color:var(--color-front);
}
.roof form.themes button::before {
	left:unset;
}
.roof form.themes button:hover,
.roof form.themes button:focus,
.roof form.themes button:active{
	color:var(--color-bg);
	background:var(--color-link-normal);
}

header .nav-main{
}
header .nav-main table{
	border-collapse:collapse;
	height:100%;
    width:100%;
}
header .nav-main table thead tr th{
	text-align:left;
	padding:0;
	border:0;
}
header .nav-main table thead tr th a{
	display:flex;
	flex-direction:column;
	padding:3px 10px 0 10px;
	text-decoration:none;
	height:var(--layout-full-main-nav-height);
	justify-content:center;
	border:0;
	border-right:1px solid var(--glass-border-color);
}
header .nav-main table thead tr th:first-of-type a{
	border-left:1px solid var(--glass-border-color);
}
header .nav-main table thead tr th a b{
	display:block;
	white-space:nowrap;
	font-family:'ssp_bold';
    color:var(--color-front);
	font-size:16px;
}
header .nav-main table thead tr th a span{
	display:block;
	white-space:nowrap;
	font-family:'ssp_regular';
    color:var(--color-front);
	font-size:12px;
}
header .nav-main table thead tr th a:hover,
header .nav-main table thead tr th a:focus,
header .nav-main table thead tr th a:active,
header .nav-main table thead tr th a.selected{
	background:rgba(82, 203, 255, 0.7);
}

/* main */
main .nav-breadcrumbs{
	display:flex;
	flex-direction:row;
	padding:10px;
	gap:10px;
	font-size:12px;
	line-height:1.3em;
	justify-content:flex-start;
	border-bottom:0 !important;
}
main .nav-breadcrumbs .nav-bc-spacer:after{
	content:'\00BB';
}
main > div.glass:not(.nav-breadcrumbs){
	padding-top:var(--layout-full-content-vertical-padding);
	padding-bottom:var(--layout-full-content-vertical-padding);
	padding-left:var(--layout-full-content-horizontal-padding);
	padding-right:var(--layout-full-content-horizontal-padding);
	border-bottom:0 !important;
}

/* footer */
footer{
	border-bottom-left-radius:var(--layout-full-border-radius);
	border-bottom-right-radius:var(--layout-full-border-radius);
	padding-top:10px;
	font-size:12px;
	line-height:1.3em;
	text-align:center;
	padding-bottom:10px;
}

/** content */
.cols{
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	gap:var(--layout-full-content-horizontal-padding);
}
.cols .col{flex:1;}
.cols.cols-2-1 .col:first-of-type{flex:2;}
.cols.cols-2-1 .col:last-of-type{flex:1;}
.cols.cols-3-1 .col:first-of-type{flex:3;}
.cols.cols-3-1 .col:last-of-type{flex:1;}
.cols.cols-4-1 .col:first-of-type{flex:4;}
.cols.cols-4-1 .col:last-of-type{flex:1;}
.cols.cols-5-2 .col:first-of-type{flex:5;}
.cols.cols-5-2 .col:last-of-type{flex:2;}
.cols.cols-1-2 .col:first-of-type{flex:1;}
.cols.cols-1-2 .col:last-of-type{flex:2;}
.cols.cols-1-3 .col:first-of-type{flex:1;}
.cols.cols-1-3 .col:last-of-type{flex:3;}
.cols.cols-1-4 .col:first-of-type{flex:1;}
.cols.cols-1-4 .col:last-of-type{flex:4;}
.cols.cols-2-5 .col:first-of-type{flex:2;}
.cols.cols-2-5 .col:last-of-type{flex:5;}
.col > *:first-child{margin-top:0;}