.document a:not(.image){
	color:var(--color-link-normal);
	cursor:pointer;
	display:inline-block;
	border-bottom:1px solid var(--color-link-normal);
	text-decoration:none;
	padding-left:1px;
	padding-right:1px;
}
.document a:not(.image):hover,
.document a:not(.image):focus,
.document a:not(.image):active{
	border-bottom:1px solid transparent;
	text-decoration:none;
	background-color:var(--color-link-normal);
	border-radius:2px;
}

.document a:not(.image):visited{
	color:var(--color-link-visited);
	border-bottom:1px solid var(--color-link-visited);
}
.document a:not(.image):visited:hover,
.document a:not(.image):visited:focus,
.document a:not(.image):visited:active{
	background-color:var(--color-link-visited);
}

a[target=_blank]:not(.image){
	padding-right:0.2em;
}
a[target=_blank]:not(.image):after,
a[target=_blank]:not(.image)::after{
	position:static;
	font-family:'icons';
	font-style:normal;
	font-weight:normal;
	display:inline-block;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content:'\e803';
	width:1em;
	height:1em;
	line-height:1.25em;
	font-size:0.6em;
	margin-left:0.2em;
}

.info-link{
	border-bottom:1px dotted var(--color-link-normal);
	text-decoration:none;
	cursor:default;
}

.document a.image{
	padding:0;
	cursor:pointer;
	display:inline-flex;
	text-decoration:none;
}
.document a.image:hover,
.document a.image:focus,
.document a.image:active{
	background:transparent;
	text-decoration:none;
	border-radius:1px;
	outline-offset:2px;
	outline:1px solid var(--color-link-normal);
}
.document a.image:visited:hover,
.document a.image:visited:focus,
.document a.image:visited:active{
	outline:1px solid var(--color-link-visited);
}