:root{
	--cv-photo-size:348px;
}

/* hide all not for screen */
.print-only{display:none;}

/* widgets - common rules */
.document > .cols > .col.col-left{
	order:1;
	flex:5;
}
.document > .cols > .col.col-right{
	order:2;
	flex:2;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
	gap:0.5em;
}
.widget{font-size:90%;}
.mobile .widget{width:100%;}
.widget h5{margin-top:0.75em;}
.widget dl{gap:0 5px;}
.widget ul.skills{margin-top:0.4em;margin-bottom:0;}
.widget ul.skills li{margin-bottom:0.4em;}
.widget ul.skills li:last-of-type{margin-bottom:0em;}
.widget .years{font-size:90%;}
.widget .years::before{content:'(';}
.widget .years::after{content:')';}
.widget .focus{font-size:90%;line-height:1.2em;}
.widget .focus::before{content:'[' !important;}
/* unset all from a[target=_blank]: */
.widget a.focus{padding-right:1px;}
.widget a.focus::after{
	position:static !important;
	font-family:unset !important;
	font-style:unset !important;
	font-weight:unset !important;
	right:unset !important;
	width:unset !important;
	height:unset !important;
	line-height:unset !important;
	top:unset !important;
	margin-top:unset !important;
	font-size:unset !important;
	margin-left:0 !important;
}
.widget .focus::after{content:']' !important;}
.dark .focus{color:#aaa;}
.light .focus{color:#555;}
.widget ul li .focus{display:block;}
.widget.lang-skills ul li .focus{display:inline-block;}

/* widget - portrait */
.full .widget .portrait{
	position:relative;
	height:0;
	padding-bottom:100%;
	margin:10px 0 25px 0;
}
.full .widget .portrait img{
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	border-radius:50%;
}
.mobile .widget .portrait{
	display:flex;
	justify-content:center;
	margin:2em 0;
}
.mobile .widget .portrait img{
	width:100%;
	height:100%;
	max-width:var(--cv-photo-size);
	max-height:var(--cv-photo-size);
}

/* widget - personal info */
.widget.personal-info ul{
	margin:0;
}
.widget.personal-info ul li{
	list-style-type:none;
	margin-left:0;
}
.widget.personal-info a.contacts::after{
	content:'\00BB';
	padding-left:3px;
	padding-right:3px;
}

/* content */
.document h1 small,
.document h3 small{font-family:'ssp_regular';margin-left:1em;line-height:1.3em;}
.mobile .document h1 small.screen-only,
.mobile .document h3 small{display:block;margin-left:0;font-size:50%;}
.document h1 small{font-size:70%;}
.document h3 small{font-size:80%;}
.cols.open-source{
	gap:0.25cm;
}
.os-item b{
	display:block;
	margin-bottom:0.2em;
}
.cols.open-source .col{width:0;flex:1 !important;display:block;}
.mobile .cols.open-source .col{width:unset;flex:unset;}
.open-source h6{
	font-size:11pt;
	margin-bottom:0;
}

.experience{margin:2em 0;}
.experience h5{font-size:110%;margin-bottom:0 !important;}
.mobile .experience h5 a{display:inline;}
.experience h6{font-family:'ssp_regular';font-size:100%;margin-bottom:0 !important;}
.experience h5 small,
.experience h6 small{font-family:'ssp_regular';}
.experience .from,
.experience .to{display:inline-block;}
.experience .from{width:65px;}
.experience .to{width:80px;}
.experience .to::before{content:'\2013';display:inline-block;padding-right:5px;}
.experience h5 .subject{}
.experience p{margin:5px 0;}
.experience ul{margin:5px 0;}
.experience dl{gap:0 5px;margin:5px 0;}