:root{
	--cols-gap:0.6cm;
	--portrait-size:2.5cm;
	--right-col-width:220px;
	--margin-bottom:0;
}

@page{
	/* real print margins */
	margin:0;
	size:a4 portrait;
	@bottom-center {
		font-size:8px;
		content:"page " counter(page);
		color:#888;
	}
}

html,body{
	font-size:11pt;
	line-height:1.1em;
	letter-spacing:-0.3pt;
}
header{display:none;}
.glass{overflow:visible;}

/* show all not for screen, hide all not for print */
.print-only{display:inline-block;}
.screen-only{display:none !important;}

/* columns */
.cols{
	gap:0;
}
.document > .cols{
	display:block;
}
.document > .cols > .col.col-left{
	flex:1 !important;
	padding:var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left);
}
.document > .cols > .col.col-right{
	float:right;
	width:var(--right-col-width) !important;
	gap:0.5em 0;
	background:var(--print-color-bg);
	margin-left:calc(var(--cols-gap) * 0.9);
	padding:var(--margin-top) var(--margin-right) 0 calc(var(--cols-gap) / 2);
	height:calc(29.7cm - var(--margin-top));
}

/* widgets */
.widget{
	color:#fff;
	position:relative;
	font-size:10pt;
	line-height:1.2em;
}
.document .widget a:not(.image),
.document .widget a:not(.image):visited{
	color:#fff;
}
.widget h5{
	margin:0.7em 0 0.15em 0;
}
.widget:first-of-type h5{
	margin-top:0;
}
.widget dl{
	margin:0;
}
.widget ul.skills li{margin-bottom:0.3em;}
.widget ul.skills li .skill{font-family:'ssp_semibold';line-height:1.1em;}
.widget ul.skills li .years{}
.widget ul.skills li .focus{color:#bfbfbf;}

.widget .portrait{
	position:absolute !important;
	margin:unset !important;
	height:unset !important;
	padding-bottom:unset !important;
	left:calc((var(--portrait-size) + var(--cols-gap)) * (-1));
}
.widget .portrait img{
	position:static !important;
	height:var(--portrait-size) !important;
	width:var(--portrait-size) !important;
	border-radius:50%;
}
.widget.lang-skills .focus{
	display:inline-block;
}


/* content */
.document h1{font-family:'ssp_black';}
.document h1 small,
.document h3 small{font-family:'ssp_regular';font-size:10pt;margin-left:0;}
.document h1 span.text,
.document h3 span.text{display:inline-block;width:calc(55px + 70px);}
.document h3{margin-bottom:0;margin-top:0.4em;line-height:1.2em;}
.open-source .col:first-of-type{flex:1.0 !important;}
.open-source .col:last-of-type{flex:0.9 !important;}
.open-source p.os-item{margin:0;}
.open-source p.os-item b{display:inline-block;margin:0;}
.open-source p.os-item b::after{
	content:'–';
	display:inline-block;
	padding:0 2px 0 4px;
}
.experience{margin:0 0 0.45em;}
.experience:last-of-type{margin-bottom:0;}
.experience h5{margin:0;font-size:100%;}
.experience h6{margin:0;}
.experience .from{width:55px;}
.experience .to{width:70px;}
.experience p,
.experience ul,
.experience dl{margin:0.15em 0;letter-spacing:-0.4pt;}
.document ul li{line-height:1.3em;}

.page-break-before{page-break-before:always;padding-top:var(--margin-top);}

.complete h3{margin-top:0.7em;margin-bottom:0.25em;}
.complete .experience{margin:0 0 0.5em;}
.complete .experience ul li{line-height:1.35em;}
.complete .experience p,
.complete .experience ul,
.complete .experience dl{margin:0.2em 0;}

html[lang=de-DE] .document h3{margin-top:0.5em;}
html[lang=de-DE] .experience{margin:0 0 0.35em;}
