:root{
	--photo-size:230px;
}

section{
	margin:3em 0 !important;
}

a.more::after{
	content:'\00BB';
	padding-left:3px;
	padding-right:3px;
}

.full .introduction{
	justify-content:center;
	align-items:center;
}
.full .introduction .col-left{
	width:var(--photo-size);
	flex:unset;
}
.full .introduction .col-right{
	flex:unset;
}
.full .portrait{
	position:relative;
	height:0;
	padding-bottom:100%;
}
.full .portrait img{
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	border-radius:50%;
}
.mobile .portrait{
	position:relative;
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.mobile .portrait img{
	display:inline-block;
	width:var(--photo-size);
	height:var(--photo-size);
	border-radius:50%;
}

.logotypes{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	justify-items:center;
	align-items:center;
	align-content:center;
	gap:2em;
	margin-bottom:2em;
}
.logotypes > span{
	display:inline-block;
}
@media screen {
	.dark .logotypes > span svg .white{fill:#ddd;}
	.dark .logotypes > span svg .black{fill:#000;}
	.dark .logotypes > span svg .transparent{fill:transparent;}
}