dl.references{
	margin:3em 0;
	border:0;
	gap:3em 1em;
}
dl.references dd,
dl.references dt{
	padding:0;
	border:0;
}
dl.references dt{
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	gap:0;
}
dl.references dt a.image{
	padding:20px;
	margin-top:-5px;
}

.mobile dl.references{
	gap:0.25em;
}
.mobile dl.references dd{
	text-align:left;
	vertical-align:top;
	margin-left:0;
	margin-bottom:3em;
}

.dark dl.references dt a.image:not(.no-redraw) svg .white{fill:#fff;}
.dark dl.references dt a.image:not(.no-redraw) svg .black{fill:#000;}
.dark dl.references dt a.image:not(.no-redraw) svg .transparent{fill:transparent;}