@page{
	/* real print margins */
	margin:var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left);
	size:a4 portrait;
}
html,body{
	background:#fff;
}
.container{
	width:100%;
	margin:0;
	box-shadow:unset;
	border-radius:unset;
}
.glass{
	padding:0 !important;
	backdrop-filter:unset;
	box-shadow:unset !important;
	border:0;
}
.glass::before{
	display:none;
}
header,
.nav-breadcrumbs,
a.print-link,
.left-panel,
footer{
	display:none !important;
}
main{
	top:0 !important;
}
main > .document{
	padding:0 !important;
}